@model System.Collections.Generic.List<Alis.Reactive.Net48.SmokeTest.Models.LookupItem>
<select id="UnitId" name="UnitId" class="w-full rounded-md border border-border px-3 py-1.5 text-sm">
    @if (Model == null || Model.Count == 0)
    {
        <option value="">-- No units available --</option>
    }
    else
    {
        <option value="">-- Select unit --</option>
        foreach (var unit in Model)
        {
            <option value="@unit.Id">@unit.Name</option>
        }
    }
</select>
